<div class="f7 pa2" style="background: #063856">
  <div class="flex items-center justify-center" style="gap: 8px">
    <span>Work with me at</span>
    <a href="https://genoni.studio" class="flex items-center white" style="gap: 4px">
      <img src="/asset/image/genoni-studio-logo.svg" class="dib op-7" width="16" height="16" style="width: auto" /> 
      <span>Genoni.Studio →</span></a>
  </div>
</div>