<footer class="wrap f7">
  <div class="op-8">Designing and coding in San Francisco.</div>
  <div>
    <a href="mailto:&#116;&#111;&#109;&#64;&#103;&#101;&#110;&#111;&#110;&#105;&#46;&#100;&#101;&#118;" class="op-6">Email</a>
    <span class="op-4 mh1">•</span>
    <a href="https://github.com/tomgenoni/" class="op-6">GitHub</a>
    <span class="op-4 mh1">•</span>
    <a href="https://www.linkedin.com/in/tom-genoni-b3781/" class="op-6">LinkedIn</a>
  </div>
</footer>