<footer class="wrap pv6 f7">
    <a href="mailto:&#116;&#111;&#109;&#64;&#103;&#101;&#110;&#111;&#110;&#105;&#46;&#100;&#101;&#118;">Email</a>
    <span class="op-6 mh2">/</span>
    <a href="https://github.com/tomgenoni/">GitHub</a>
    <span class="op-6 mh2">/</span>
    <a href="https://www.linkedin.com/in/tom-genoni-b3781/">LinkedIn</a>
</footer>
