<header class="pv3 m_pv4 f7 flex justify-between items-center">
  <div>
    <a href="/index.html" class="fw8">Tom Genoni</a>
    <span class="op-4 mh1 dn m_dib">•</span>
    <span class="op-9 dn m_dib">Frontend Designer</span>
  </div>
  <a href="https://genoni.studio" class="link link-external inline-flex" style="gap: 8px">
    <span>👋</span>
    <span>
      Work with me <span class="dn m_dib">at Genoni.Studio</span>
    </span>
  </a>
</header>