<!DOCTYPE html>
{% set description = fm.description | default("The portfolio of Tom Genoni, a frontend designer living in San Francisco.") %}
{% set ogImage = fm.hero.image | default("tokyo_p-q9MLNaD") %}

<html lang="en" class="bg-gray-200">
    <head>
        <title>{% if fm.title %}{{fm.title}} • {% endif %}genoni.dev</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="{{description}}" />

        {# Open Graph #}
        <meta property="og:title" content="{% if fm.title %}{{fm.title}}{% else %}genoni.dev{% endif %}"/>
        <meta property="og:description" content="{{description}}"/>
        <meta property="og:image" content="{{urls.imageKit}}/{{urls.imageKitCode}}/{{ogImage}}.jpg?tr=w-1200,ar-1-1" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="1200" />
        <meta property="og:type" content="website" />

        {# Favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="/asset/image/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/asset/image/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/asset/image/favicon/favicon-16x16.png">
        <link rel="manifest" href="/asset/image/favicon/site.webmanifest">
        <link rel="mask-icon" href="/asset/image/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/asset/image/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/asset/image/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">        

        {# For image service #}
        <link rel="preconnect" href="{{urls.imageKit}}">
        <link rel="dns-prefetch" href="{{urls.imageKit}}">

        {# For image service #}
        <link rel="preload" href="/asset/font/Graphik-Regular-Web.woff2" as="font" crossorigin>
        <link rel="preload" href="/asset/font/Graphik-Medium-Web.woff2" as="font" crossorigin>

        <style>
            @font-face {
                font-family: "Graphik";
                font-weight: 400;
                src: url("/asset/font/Graphik-Regular-Web.woff2") format("woff2"),
                    url("/asset/font/Graphik-Regular-Web.woff") format("woff");
                font-display: swap;
            }

            @font-face {
                font-family: "Graphik";
                font-weight: 500;
                src: url("/asset/font/Graphik-Medium-Web.woff2") format("woff2"),
                    url("/asset/font/Graphik-Medium-Web.woff") format("woff");
                font-display: swap;
            }
          </style>

        <link rel="stylesheet" href="/asset/css/root.css" type="text/css" />

        <script type="text/javascript" src="/asset/js/lazysizes.min.js" async></script>
    </head>
    <body class="{% if bodyClass %}{{bodyClass}}{% endif %}"
>
