<header>
    <div class="flex l_db">
        <div class="flex f8 l_db l_mb3">
            <a href="/" class="fw6 link">Tom Genoni</a>
            <div class="op-8 ml2 l_ml0 dn s_db">Design Technologist</div>
        </div>
        <ul class="f8 flex ml-auto l_db">
            <li><a class="link mr2" href="/#write">Write</a></li>
            <li><a class="link mr2" href="/#work">Work</a></li>
            <li><a class="link" href="/#about">About</a></li>
        </ul>
    </div>
    <div class="tagline">
        <svg class="db mb3 highlight" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="currentColor" data-thumbprint-id="meta-category-design-web"> <path d="M23,18 L5,18 C4.448,18 4,17.551 4,17 L4,16 L24,16 L24,17 C24,17.551 23.552,18 23,18 M16.557,24 L11.443,24 C11.788,23.409 12,22.732 12,22 L12,20 L16,20 L16,22 C16,22.732 16.212,23.409 16.557,24 M5,4 L23,4 C23.552,4 24,4.449 24,5 L24,14 L4,14 L4,5 C4,4.449 4.448,4 5,4 M23,2 L5,2 C3.346,2 2,3.346 2,5 L2,17 C2,18.654 3.346,20 5,20 L10,20 L10,22 C10,23.103 9.103,24 8,24 C7.447,24 7,24.448 7,25 C7,25.552 7.447,26 8,26 L20,26 C20.553,26 21,25.552 21,25 C21,24.448 20.553,24 20,24 C18.897,24 18,23.103 18,22 L18,20 L23,20 C24.654,20 26,18.654 26,17 L26,5 C26,3.346 24.654,2 23,2"></path> </svg>
        <p class="mb4 mw7 l_mwa f5 l_f8 fw5 l_fw4">As a founding member of the Design Systems team at Thumbtack, I help designers and developers build <span class="dib">in harmony</span>.<span class="highlight fw5">*</span></p>
        <p class="f8"><span class="fw5 highlight">*</span> <span class="op-6">at least that’s the plan.</span></p>
    </div>
</header>
