<div class="pt4 flex justify-between f7">
    <div>
        <span class="fw6 mr1" style="">Tom Genoni</span>
    </div>
    <div class="op-8">
        <span class="mr2">Work</span>/<span class="mh2">Write</span>/<span class="ml2">About</span>
    </div>
</div>
