.sans {
    font-family: $sans;
}

.serif {
    font-family: $serif;
}

@include respond-above($break__small) {
    .s_sans {
        font-family: $sans;
    }

    .s_serif {
        font-family: $serif;
    }
}

@include respond-above($break__medium) {
    .m_sans {
        font-family: $sans;
    }

    .m_serif {
        font-family: $serif;
    }
}

@include respond-above($break__large) {
    .l_sans {
        font-family: $sans;
    }

    .l_serif {
        font-family: $serif;
    }
}
