.fadeshow {
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 1s;

        &.is-active {
            position: static;
            opacity: 1;
            transition: opacity 1s;
        }
    }
}
