$header-width: 300px;

body {
    @include respond-above($break__large) {
        padding-left: $header-width;
    }
}

header {
    padding: $space__3;

    @include respond-above($break__medium) {
        padding-left: $space__5;
        padding-right: $space__5;
    }

    @include respond-above($break__large) {
        padding-top: $space__4;
        padding-bottom: $space__6;
        padding-right: $space__3;
        padding-left: $space__5;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: $header-width;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .highlight {
        @include respond-above($break__large) {
            color: $color__red;
        }
    }

    .tagline {
        display: none;

        @include respond-above($break__large) {
            display: block;
        }
    }
}

.index {
    @include respond-below($break__large) {
        header {
            margin-bottom: $space__4;
            height: 90vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background: $color__red;
            color: $color__white;
            padding-bottom: $space__5;

            a {
                color: $color__white;

                &:hover {
                    color: $color__white;
                    opacity: 0.8;
                }
            }

            .tagline {
                display: block;
            }
        }
    }
}
