.link,
.link a {
  @include atoms(white);
}

.link-inherit {
  color: inherit;
}

.link-external {
  border-radius: 999px;
  padding: 4px 12px 6px;
  font-size: 14px;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:after {
    content: ' →';
    transform: rotate(-45deg);
    display: inline-block;
  }
}
