.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #91a2b0;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: $color__blue-600;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: $color__blue-600;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #a16300;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #025775;
}

.token.function,
.token.class-name {
    color: #2d8cc7;
}

.token.regex,
.token.important,
.token.variable {
    color: #12581c;
}

.token.important,
.token.bold {
    font-weight: 700;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
