.roll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: $space__3; // Space between items
  padding: 0 $space__3;

  @include respond-above($break__medium) {
    gap: $space__4; // Space between items
    padding: 0 $space__6;
  }

  @include respond-above($break__xlarge) {
    padding: 0 7%;
  }

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
    appearance: none;
  }
}

.roll-pane {
  display: flex;
  position: relative;
  width: 84%;
  min-width: 84%;

  @include respond-above($break__medium) {
    width: 66%;
    min-width: 66%;
  }

  @include respond-above($break__large) {
    width: 60%;
    min-width: 60%;
  }
}

.roll-pane-content {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
