.wrap {
  @include atoms(ph3, m_ph6, center);
  max-width: $break__xlarge;

  @include respond-above($break__xlarge) {
    max-width: none;
    padding-left: $wrap__xlarge_padding;
    padding-right: $wrap__xlarge_padding;
  }
}

.reading {
  max-width: 768px;
}

.reading-wide {
  max-width: 1000px;
}
