.ls-1 {
    letter-spacing: 1px;
}

.ls-2 {
    letter-spacing: 2px;
}

.ls-3 {
    letter-spacing: 3px;
}

.-ls-1 {
    letter-spacing: -1px;
}

.-ls-2 {
    letter-spacing: -2px;
}

.-ls-3 {
    letter-spacing: -3px;
}

@include respond-above($break__small) {
    .s_ls-1 {
        letter-spacing: 1px;
    }

    .s_ls-2 {
        letter-spacing: 2px;
    }

    .s_ls-3 {
        letter-spacing: 3px;
    }

    .s_-ls-1 {
        letter-spacing: -1px;
    }

    .s_-ls-2 {
        letter-spacing: -2px;
    }

    .s_-ls-3 {
        letter-spacing: -3px;
    }
}
@include respond-above($break__medium) {
    .m_ls-1 {
        letter-spacing: 1px;
    }

    .m_ls-2 {
        letter-spacing: 2px;
    }

    .m_ls-3 {
        letter-spacing: 3px;
    }

    .m_-ls-1 {
        letter-spacing: -1px;
    }

    .m_-ls-2 {
        letter-spacing: -2px;
    }

    .m_-ls-3 {
        letter-spacing: -3px;
    }
}
@include respond-above($break__large) {
    .l_ls-1 {
        letter-spacing: 1px;
    }

    .l_ls-2 {
        letter-spacing: 2px;
    }

    .l_ls-3 {
        letter-spacing: 3px;
    }

    .l_-ls-1 {
        letter-spacing: -1px;
    }

    .l_-ls-2 {
        letter-spacing: -2px;
    }

    .l_-ls-3 {
        letter-spacing: -3px;
    }
}
