{% set bodyClass = "index" %}

{% from "../macros/picture.njk" import picture %}

{% include "partials/common/head.njk" %}

<div class="bg-blue white">
    <div class="wrap">
        {% include "partials/common/header.njk" %}
        {% include "partials/index/hero.njk" %}
    </div>
</div>

{% include "partials/index/work.njk" %}
{% include "partials/index/write.njk" %}
{% include "partials/index/about.njk" %}

<script type="text/javascript" src="/asset/js/roll.js"></script>
{% include "partials/common/foot.njk" %}
