{% from "../macros/picture.njk" import picture %}

{% include "partials/common/head.njk" %}

<div class="wrap">
    {% include "partials/common/header.njk" %}
</div>

<div class="wrap pb5">
    <div class="mb6 mt5 m_mt6 tc">
        <h1 class="post-title lh-solid fw7 mb3 black serif">{{fm.title}}</h1>
        <div class="f4 m_f3 lh-title fw3 gray mb3 center reading">{{fm.description}}</div>        
        <div class="f8 gray fw5 ttu">{{fm.date}}</div>
    </div>        

{% if fm.hero %}
{{ picture
    (
        image=fm.hero.image,
        alt=fm.hero.alt,
        ar="1-1",
        s_ar="4-3",
        l_ar="8-5",
        class="stripe-bkg post-image center mb6"
    )
}}
{% endif %}

    <div class="markdown markdown-post">
        {{body | safe}}
    </div>         
</div>

{% include "partials/common/footer.njk" %}
{% include "partials/common/foot.njk" %}
