// The 400 & 800 @font-face declarations are in the <head> tag.
// This moves the font loading earlier in the process.
// @font-face {
//     font-family: "Alliance";
//     font-weight: 400;
//     src: url("/asset/font/Alliance-Regular-Web.woff2") format("woff2"),
//         url("/asset/font/Alliance-Regular-Web.woff") format("woff");
//     font-display: swap;
// }

@font-face {
  font-family: 'Alliance';
  font-weight: 600;
  src: url('/asset/font/AllianceNo1-SemiBold.woff2') format('woff2'),
    url('/asset/font/AllianceNo1-SemiBold.woff') format('woff');
  font-display: swap;
}

// @font-face {
//     font-family: 'Alliance';
//     font-weight: 800;
//     src: url('/asset/font/AllianceNo1-ExtraBold.woff2') format('woff2'),
//         url('/asset/font/AllianceNo1-ExtraBold.woff') format('woff');
//     font-display: swap;
// }
