// The 400 & 600 @font-face declarations are in the <head> tag.
// This moves their font loading earlier in the process.

@font-face {
  font-family: 'Alliance';
  font-weight: 800;
  src: url('/asset/font/AllianceNo1-ExtraBold.woff2') format('woff2');
  font-display: swap;
}
