<h2 class="fw5 f4 m_f3 mb4">About</h2>
<div class="markdown">
    <div class="grid grid-wide">
        <div class="l_col-6">
            <div class="reading">
                {{ picture
                    (
                        image="me",
                        alt="Me",
                        ar="4-3",
                        class="br2 stripe-bkg mb3"
                    )
                }}
            </div>
        </div>
        <div class="l_col-6">
            <div class="reading">
                <p>Like any respectable designer I take photographs, play music, and generally try not to sit in front of my computer. I’m a fan of documentaries, small animals, travel, skiing, tennis, and sitting in bars with friends debating the merits of various bands.</p>
                <p>I live in San Francisco with my wife, Jennifer, and our cat, Kali, for a while with <a href="https://vimeo.com/89194919">this couple</a> who would visit nearly every morning and, as you can see, talk about me disparagingly.</p>
                <p>
                    <a href="mailto:&#116;&#111;&#109;&#64;&#103;&#101;&#110;&#111;&#110;&#105;&#46;&#100;&#101;&#118;" class="dib mr2">Email</a>•<a href="https://github.com/tomgenoni/" class="dib mh2">GitHub</a>•<a href="https://www.linkedin.com/in/tom-genoni-b3781/" class="dib mh2">LinkedIn</a>
                </p>
            </div>
        </div>
    </div>
</div>
