<h2 class="fw5 f4 m_f3 mb4">About</h2>
<div class="markdown">
    <div class="grid grid-wide">
        <div class="l_col-6">
            <div class="reading">
                <p>I’ve been designing and building web stuff in San Francisco for the last twelve years. And during this time there have been dramatic shifts in technologies, and along with it, job titles. Frontend Designer, UI Developer, UX Engineer—they can mean lots of different things and I often find myself struggling to explain what it is I actually do.</p>

                <p>At a high level, <a href="https://medium.com/@kaelig/introducing-design-systems-ops-7f34c4561ba7">Design Systems Ops</a> is a good introduction by  Kaelig Deloumeau-Prigent to the sometimes ambiguously defined roles of those who, like me, operate with a mix of design and engineering. And Brad Frost’s <a href="https://bradfrost.com/blog/post/frontend-design/">Frontend Design</a> nicely captures my experience as a frontend designer, describing it as a “purgatory” between these worlds.</p>

                <p>My day to day my work often involves creating tools that are born of team needs or my own ideas. This has included exploring many facets of <a href="/write/inkling.html">digital book</a> production, Chrome extensions and Figma plugins to help teams in their work, frontend development using React and Node, and more recently <a href="https://thumbprint.design/overview/about/">complex design systems</a>, requiring careful planning and cross-team communcation.</p>
                
                <p>In short, I’m happiest building foot bridges between design and engineering when there aren’t the resources, or a clear path, to build ones made of steel.</p>
                
            </div>
        </div>

        <div class="l_col-6">
            <div class="reading">
                {{ picture
                    (
                        image="me",
                        alt="Me",
                        ar="4-3",
                        class="br2 stripe-bkg mb3"
                    )
                }}
                <p>Like any respectable designer I take photographs, play music, and generally try not to sit in front of my computer. I’m a fan of documentaries, small animals, travel, skiing, tennis, and sitting in bars with friends debating the merits of various bands.</p>
                <p>
                    <a href="mailto:&#116;&#111;&#109;&#64;&#103;&#101;&#110;&#111;&#110;&#105;&#46;&#100;&#101;&#118;" class="dib mr2">Email</a>•<a href="https://github.com/tomgenoni/" class="dib mh2">GitHub</a>•<a href="https://www.linkedin.com/in/tom-genoni-b3781/" class="dib mh2">LinkedIn</a>
                </p>
            </div>
        </div>
    </div>
</div>
