<div class="wrap pb6" id="about">
    <div class="markdown">
        <p>
            <a href="mailto:&#116;&#111;&#109;&#64;&#103;&#101;&#110;&#111;&#110;&#105;&#46;&#100;&#101;&#118;" class="dib mr2">Email</a>•<a href="https://github.com/tomgenoni/" class="dib mh2">GitHub</a>•<a href="https://www.linkedin.com/in/tom-genoni-b3781/" class="dib mh2">LinkedIn</a>
        </p>
    </div>
</div>
