<div class="hero flex items-center">
  <div>
    <div class="l_grid l_grid-wide">
      <div class="l_col-8">
        <h1 class="hero-title fw6 lh-solid mb4 m_-ls3">
          Hi, I’m a frontend designer.
          <span class="op-8">Think of me as a developer for your design team.</span>
        </h1>
        <ul class="hero-list f6 m_f5 lh-copy op-6">
          <li>Design Systems</li>
          <li>Protoyping web &amp; native</li>
          <li>Chrome &amp; Figma plug-ins</li>
          <li>Web tools</li>
          <li>Writing &amp; documentation</li>
          <li>Frontend development</li>
        </ul>
      </div>
    </div>
  </div>
</div>