<div class="bg-gray-200 pv6 bb bt b-gray-300">
    <div class="wrap">
        <h2 class="indigo mb4 fw8 f5 m_f4">Write</h2>
        <ul class="m_grid m_grid-wide">
            {% for post in write %}
            <li class="l_col-4 {% if not loop.last %}mb4{% endif %}">
                <a href="/write/{{post.basename}}.html" class="link-inherit db">
                    <h3 class="f5 m_f4 fw8 lh-title mb1">
                        {{post.fm.title}}
                    </h3>
                    <div class="black-300 lh-title mb1">
                        {{post.fm.description}}
                    </div>
                    <div class="f8 gray lh-copy">
                        {{post.fm.date}}
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
