<div class="pv6" id="write">
    <div class="wrap">
        <ul class="m_grid m_grid-wide">
            {% for post in write %}
            <li class="l_col-4 {% if not loop.last %}mb4{% endif %}">
                <a href="/write/{{post.basename}}.html" class="link-inherit db">
                    <h3 class="f5 m_f4 fw5 lh-title mb1">
                        {{post.fm.title}}
                    </h3>
                    <div class="lh-title mb1 op-8">
                        {{post.fm.description}}
                    </div>
                    <div class="f8 lh-copy op-6">
                        {{post.fm.date}}
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
