{% macro note() %}
  <div class="relative">
    <div class="absolute f4 -top2" style="transform: rotate(14deg); left: 48%;">📍</div>
    <div class="pb1 pt3 ph4 f7 bg-gray-200 mb5">
      <div>{{ caller() | md | safe }}</div>
    </div>
  </div>
{% endmacro %}