{% macro note() %}
<div class="flex bg-gray-100 ba b-gray-300 pt3 ph4 f6 reading center mb5 br2">
    <div class="flex-none mr3">📌</div>
    <div>{{ caller() | md | safe }}</div>
</div>
{% endmacro %}
